[Unit]
Description=HyperControl Device Listener

[Service]
ExecStart=/usr/bin/env python3 /opt/HyperControl/linux/HyperControl.py
WorkingDirectory=/opt/HyperControl/linux
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes

[Install]
WantedBy=default.target
