[Unit]
Description=HyperControl Device Listener

[Service]
ExecStart=/usr/bin/python3 /opt/HyperControl/linux/HyperControl.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes

[Install]
WantedBy=default.target
